.start,
.education,
.hobbies,
.goals {
	display: none;
}

body {
	background: black url("../img/cartographer.png") repeat;
	color: white;
	transition: 2s;
}

.btn {
	background: black;
}