.start,
.experience,
.education,
.hobbies{
	display: none;
}

body {
	background: grey url("../img/subtle_carbon.png") repeat;
	color: white;
	transition: 2s;
}

.btn {
	background: white;
	color: red;
}